@charset "UTF-8";
/* index.css */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  #about {
    scroll-margin-top: 140px;
  }

  /*==============================================================
    　　TOP（ヒーロー）
  ==============================================================*/
  .sec-top {
    margin-top: 80px;
    position: relative;
    display: flex;
    /* align-items: end; */
    /* height: calc(100svh - 80px); */
  }

  .sec-top .title-box {
    position: absolute;
    /* top: 147px; */
    top: 131px;
    /* top: 45%; */
    /* transform: translateY(-45%); */
    right: 24px;
    text-align: center;
  }

  .sec-top h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.25em;
  }

  .sec-top .title-box .sub-title {
    font-size: 6px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.15em;
    margin-top: 4px;
  }

  .sec-top .title-box .title-text {
    font-size: 6px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.08em;
    /* line-height: 2.4; */
    line-height: 1.6;
    margin-top: 18px;
    margin-top: 14px;
  }

  .top-img {
    width: 80vw;
    /* height: 385px; */
    /* height: 64svh; */
    /* height: 426px; */
    /* height: 400px; */
    height: 385px;
    overflow: hidden;
  }

  .top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
  }

  /*==================== aboutへ移動 ====================*/
  .to-about-box {
    /* border: solid 0.5px #000000;
    border-radius: 50%; */
    width: 25px;
    height: 25px;
  }

  .to-about-all {
    display: flex;
    align-items: end;
    margin: 0 auto;
    /* margin-top: 100%; */
    /* margin-top: auto; */
    /* max-height: 64svh; */
    /* height: 426px; */
    /* height: 400px; */
    height: 385px;

  }

  .to-about-box a {
    width: 25px;
    height: 25px;
    margin: 0 auto;
  }

  .to-about {
    position: relative;
    display: inline-block;
    /* width: 1px;
    height: 10px; */
    /* margin: 0 4.1px; */
    /* border-radius: 9999px;
    background-color: #000000; */
    margin-top: 7px;
    margin-left: 11.5px;
  }
  /* .to-about::before,
  .to-about::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 6.8px;
    border-radius: 9999px;
    background-color: #000000;
    transform-origin: 50% calc(100% - 0.5px);
  }
  .to-about::before {
    transform: rotate(45deg);
  }
  .to-about::after {
    transform: rotate(-45deg);
  } */

  /*==============================================================
    　　ABOUT
  ==============================================================*/
  .sec-about {
    margin: 80px 0 100px;
    /* margin: 60px 0; */
    text-align: center;
  }

  .sec-title {
    text-align: center;
    font-weight: 600;
    justify-items: center;
  }

  .sec-title .title {
    font-size: 24px;
    letter-spacing: 0.19em;
    margin-left: 5px;
  }

  .sec-title .title-jp {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.21em;
  }

  .sec-about .sec-title .title-jp {
    margin-left: 4px;
  }


  .sec-title .title-line {
    width: 14px;
    height: 1px;
    background-color: #212121;
    margin: 12px auto;
  }

  .sec-about .text-title {
    font-size: 11px;
    font-weight: 600;
    line-height: 2.8;
    margin-top: 46px;
    margin-bottom: 16px;
    color: #525252;
    letter-spacing: 0.01em;
    margin-left: 3px;
  }

  .sec-about .text {
    font-size: 11px;
    font-weight: 600;
    line-height: 2.8;
    margin-bottom: 54px;
    color: #868686;
    margin-left: 3px;
  }

  .more-box a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
  }

  .more-box .more {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-right: 13px;
  }

  .arrow {
    position: relative;
    display: inline-block;
    /* width: 17px; */
    height: 19px;
    /* background-color: #000; */
    /* margin-left: 14px; */
  }

  /* .arrow::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    width: 4px;
    height: 0.5px;
    border-radius: 9999px;
    background-color: #000;
    transform: rotate(45deg);
    transform-origin: calc(100% - 2px) 50%;
  }

  .arrow::after {
    content: "";
    position: absolute;
    top: -8.7px;
    left: -9.5px;
    width: 19px;
    height: 19px;
    border: solid 0.5px #000;
    border-radius: 50%;
  } */


  /*==============================================================
    　　SYSTEM
  ==============================================================*/
  .sec-system {
    background-image: url(../img/system.webp);
    margin: 0 27px 20px;
    height: 172px;
    background-size: 102%;
    background-position: 50% 50%;
    background-size: cover;
  }

  .sec-system .sec-title {
    color: #fff;
    margin-top: -4px;
  }


  /* ==================== SYSTEM・MENU（共通） ================== */
  .sec-bg {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    align-content: center;
    position: relative;
  }

  .sec-bg .title-line {
    background-color: #fff;
  }

  /* .sec-bg .arrow {
    height: 1px;
    background-color: #fff;
  } */

  /* .sec-bg .arrow::before {
    height: 1px;
    background-color: #fff;
  }

  .sec-bg .arrow::after {
    border: solid 1px #fff;
  } */

  .sec-bg .more-box {
    position: absolute;
    right: 13px;
    /* bottom: 17.5px; */
    bottom: 13px;
  }


  /*==============================================================
    　　MENU
  ==============================================================*/
  .sec-menu {
    background-image: url(../img/menu.png);
    margin: 0 27px;
    height: 172px;
    background-size: cover;
    background-position: 50% 50%;
  }

  .sec-menu .sec-title {
    color: #ffffff;
    /* text-shadow: #D9D9D9 2px 0 5px; */
    text-shadow: #bebebe 0 0 2px;
    margin-top: -4px;
  }

  .sec-menu .sec-bg .title-line {
    box-shadow: 0 0 2px 1px #D9D9D9;
  }


  /*==============================================================
    　　Before & After（PHOTO）
  ==============================================================*/
  .sec-photo {
    margin-top: 86px;
  }

  .sec-photo .sec-title .title {
    /* margin-left: 3.3px; */

    /* Before & After */
    margin-right: 5px;
    margin-left: 0;
  }

  .swiper-slide {
    margin-top: 56px;
    height: 197px;
  }

  .swiper-slide figure {
    width: 100%;
    height: 162px;
    background-image: url(../img/photo.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .slide-btn {
    display: flex;
  }

  .swiper-pagination {
    margin-right: 100px;
  }

  .swiper-pagination-bullet-active {
    background-color: #525252;
  }

  /*==============================================================
    　　SHOP
  ==============================================================*/
  .sec-shop {
    margin-top: 86px;
  }

  .sec-shop .sec-title .title {
    margin-left: 3px;
  }

  .sec-shop .sec-title .title-line {
    margin: 12px auto 40px;
  }

  .info {
    display: grid;
    margin: 0 auto;
    margin-bottom: 108px;
    grid-template:
    "box1 box1" auto
    "box2 box2" auto
    "box3 box3" auto
    "box4 box4" auto
    "box5 box5" auto
    / 110px 1fr;
    row-gap: 16px;
    width: 281px;
  }

  .box_01{
    grid-area: box1;
    align-items: center;
  }

  .box_02{
    grid-area: box2;
  }

  .box_03{
    grid-area: box3;
    align-items: center;
  }

  .box_04{
    grid-area: box4;
    align-items: center;
  }

  .box_05{
    grid-area: box5;
    align-items: center;
  }

  .info dl{
    display: flex;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.08em;
    line-height: 2.5;
  }

  .info dt{
    min-width: 110px;
    font-optical-sizing: auto;
  }

  .box_02 dd{
    line-height: 2.5;
  }

  .map-link {
    display: block;
    margin-top: 25px;
  }

  .map-link span {
    border-bottom: solid 1px #937218;
  }

  .map-link span:hover {
    opacity: 0.6;
    transition: 0.3s;
  }
}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */

  #about {
    scroll-margin-top: 230px;
  }
  /*==============================================================
    　　TB_TOP（ヒーロー）
  ==============================================================*/
  .sec-top {
    margin-top: 180px;
  }

  .sec-top .title-box {
    top: 220px;
    right: 138px;
  }

  .top-img {
    width: calc(100% - 250px);
    height: 590px;
  }

  .sec-top h1 {
    font-size: 45px;
  }

  .sec-top .title-box .sub-title {
    font-size: 12px;
    letter-spacing: 0.04em;
    margin-top: 5px;
  }

  .sec-top .title-box .title-text {
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.08em;
    margin-top: 16px;
  }


  /*==================== aboutへ移動 ====================*/
  .to-about-box {
    width: 45px;
    height: 45px;
  }

  .to-about-all {
    height: 590px;
  }

  /*==============================================================
    　　TB_ABOUT
  ==============================================================*/
  .sec-about {
    margin: 225px 0 170px;
  }

  .sec-title .title {
    font-size: 40px;
    letter-spacing: 0.3em;
    margin-left: 12px;
  }

  .sec-title .title-line {
    width: 20px;
    margin: 30px auto;
  }

  .sec-about .sec-title .title-jp {
    margin-left: 7px;
    font-size: 15px;
  }

  .sec-about .text-title {
    font-size: 15px;
    line-height: 3;
    margin-top: 60px;
    margin-bottom: 18px;
    letter-spacing: 0.03em;
    margin-left: 0;
  }

  .sec-about .text {
    font-size: 15px;
    line-height: 3;
    margin-bottom: 65px;
    letter-spacing: 0.03em;
    margin-left: 0;
  }

  .more-box .more {
    font-size: 12px;
    letter-spacing: 0.35em;
    margin-right: 14px;
  }

  .arrow {
    height: 40px;
  }

  /*==============================================================
    　　TB_SYSTEM /MENU
  ==============================================================*/
  .flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 377px;
    gap: 36px;
    width: 100vw;
    padding: 0 30px;
  }

  .sec-system,
  .sec-menu {
    margin: 0;
    height: 377px;
  }

  .sec-system .sec-title,
  .sec-menu .sec-title {
    font-size: 40px;
    letter-spacing: 0.22em;
  }

  .sec-bg .title-line {
    width: 20px;
    margin: 23px auto;
  }

  .sec-system .sec-title .title-jp {
    font-size: 15px;
    letter-spacing: 0.2em;
  }

  .sec-bg .more-box {
    right: 33px;
    bottom: 18px;
  }

  /*==============================================================
    　　TB_PHOTO
  ==============================================================*/
  .sec-photo {
    margin-top: 160px;
    padding: 0 32px;
  }

  .sec-photo .sec-title .title {
    /* margin-left: 5px; */

    /* Before & After */
    margin-right: 14px;
    letter-spacing: 0.21em;
    margin-left: 0;
  }

  .swiper-slide {
    margin-top: 56px;
    height: 438px;
  }

  .swiper-slide figure {
    height: 388px;
  }

  /*==============================================================
    　　TB_SHOP
  ==============================================================*/
  .sec-shop {
    margin-top: 160px;
  }

  .sec-shop .sec-title .title-line {
    margin: 23px auto 75px;
  }

  .info {
    font-size: 15px;
    width: 457px;
    row-gap: 20px;
    margin-bottom: 105px;
  }

  .info dl{
    font-size: 15px;
  }

  .info dt{
    min-width: 225px;
    font-optical-sizing: auto;
  }

  .map-link {
    margin-top: 0;
  }

  .box_02 .address {
    letter-spacing: 0.11em;
  }
  .box_02 .map-link {
    letter-spacing: 0.04em;
  }
  .box_04 dd {
    letter-spacing: 0.22em;
  }
  .box_05 dd {
    letter-spacing: 0.11em;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_TOP（ヒーロー）
  ==============================================================*/
  .sec-top .title-box {
    top: 200px;
    right: 133px;
  }

  .sec-top h1 {
    font-size: 64px;
  }

  .sec-top .title-box .sub-title {
    font-size: 15px;
    letter-spacing: 0.06em;
    margin-top: 4px;
  }

  .sec-top .title-box .title-text {
    margin-top: 14px;
  }

  .top-img img {
    object-position: 50% 88%;
  }

  /*==================== aboutへ移動 ====================*/
  .to-about-box {
    width: 43px;
    height: 43px;
  }

  /*==============================================================
    　　PC_ABOUT
  ==============================================================*/
  .sec-about {
    margin: 220px 0 170px;
  }

  .sec-title {
    margin-right: 8px;
  }

  .sec-title .title {
    font-size: 42px;
    letter-spacing: 0.19em;
    margin-left: 9px;
  }

  .sec-title .title-line {
    margin: 20px auto;
  }

  .sec-about .text-title {
    line-height: 2.8;
    margin-top: 65px;
  }

  .sec-about .sec-title .title-jp {
    margin-left: 6px;
  }

  .sec-about .text {
    margin-bottom: 60px;
  }

  .more-box .more {
    letter-spacing: 0.21em;
  }

  .arrow {
    height: 35px;
  }

  /*==============================================================
    　　PC_SYSTEM /MENU
  ==============================================================*/
  .flex {
    grid-template-rows: 380px;
    gap: 32px;
    padding: 0 25px;
  }

  .sec-system,
  .sec-menu {
    height: 380px;
  }

  .sec-system .sec-title,
  .sec-menu .sec-title {
    font-size: 36px;
    letter-spacing: 0.18em;
  }

  .sec-bg .title-line {
    width: 25px;
    margin: 21px auto;
  }

  .sec-system .sec-title .title-jp {
    font-size: 13px;
    letter-spacing: 0.18em;
  }

  .sec-menu .sec-title .title-jp {
    font-size: 13px;
    letter-spacing: 0.21em;
  }

  .sec-bg .more-box {
    right: 25px;
    bottom: 17px;
  }

  /*==============================================================
    　　PC_PHOTO
  ==============================================================*/
  .sec-photo {
    margin-top: 160px;
    padding: 0;
  }

  .sec-photo .sec-title {
    margin-right: 0;
    margin-bottom: 70px;
  }

  .sec-photo .sec-title .title {
    /* Before & After */
    margin-right: 20px;
    margin-left: 0;
    letter-spacing: 0.15em;
  }


  .swiper-slide {
    height: 485px;
  }

  .swiper-slide figure {
    height: 435px;
  }

  /*==============================================================
    　　SHOP
  ==============================================================*/
  .sec-shop {
    margin-top: 140px;
  }

  .sec-shop .sec-title {
    margin-right: 0;
    margin-left: 5px;
  }

  .sec-shop .sec-title .title-line {
    margin: 20px auto 115px;
  }

  .info {
    width: 500px;
    row-gap: 25px;
    margin-bottom: 135px;
  }

  .info dt{
    min-width: 240px;
  }

}

@media screen and (min-width: 1450px) {
  /* パソコン用レイアウト 1450px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_TOP（ヒーロー）
  ==============================================================*/
  .top-img img {
    object-position: 50% 60%;
  }
}