@charset "UTF-8";
/* style.css（共通css） */


body {
  font-family: "Noto Serif JP", serif;
  font-feature-settings: 'palt' 1;
  /* letter-spacing: 0.05em; */
  color: #212121;
  background-color: #fff;
}

html {
  scroll-behavior: smooth; /* スムーススクロール */
}

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　共通（スマホ）
  ==============================================================*/
  #top {
    scroll-margin-top: 80px;
  }

  .tb-nav,
  .tb-br {
    display: none;
  }

  .sp-none {
    display: none;
  }


  /*==============================================================
    　　ヘッダー
  ==============================================================*/
  .header {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 26px 0;
    top: 0;
    z-index: 20;
  }

  .header.active {
    background-color: #EEEDED;
  }

  .logo-box {
    display: flex;
    align-items: center;
  }

  .logo-box.active {
    display: none;
  }

  .logo-box img {
    /* height: 28px; */
    height: 30px;
    margin-bottom: 0.8px;
  }

  .btn{
    position: fixed;
    width: 22px;
    height: 16px;
    right: 26px;
    margin-bottom: 0.8px;
  }

  .btn i{
    position: absolute;
    right: 0;
    height: 1px;
    width: 22px;
    background-color: #949495;
    transition: 0.5s;
  }

  .btn i:nth-of-type(1){
    top: 0;
  }

  .btn i:nth-of-type(2){
    top: 8px;
  }

  .btn i:nth-of-type(3){
    top: 16px;
  }

  .btn.active i:nth-of-type(1){
    transform: translateY(8px) rotate(45deg);
    background-color: #949495;
    width: 25px;
    margin-right: 2.5px;
  }

  .btn.active i:nth-of-type(2){
    opacity: 0;
  }

  .btn.active i:nth-of-type(3){
    transform: translateY(-8px) rotate(-45deg);
    background-color: #949495;
    width: 25px;
    margin-right: 2.5px;
  }

  /* メニューのデザイン*/
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: #EEEDED;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
    overflow-y: scroll;
    pointer-events: none;
  }

  .container.active{
    opacity: 1;
    pointer-events: auto;
  }

  .page-link.top {
    /* padding: 145px 0 0 50px; */
    padding: 140px 0 0 50px;
  }
  .page-link {
    padding: 0 0 0 50px;
  }

  .nav_item {
    /* font-size: 18px; */
    letter-spacing: 0.2em;
    font-weight: 600;
    margin-bottom: 27px;

    font-size: 20px;
  }

  .sns-box {
    display: flex;
    font-size: 9px;
    font-weight: 600;
    letter-spacing: 0.16em;
    align-items: center;
    gap: 12px;
    margin-bottom: 64px;

    font-size: 9.5px;
    gap: 12.5px;

    margin-bottom: 75px;
    /* margin-bottom: 27px; */
  }

  .sns-icon {
    /* width: 28px;
    height: 28px; */

    width: 29px;
    height: 29px;
  }

  .sns-icon.tiktok {
    /* width: 27px;
    height: 27px; */

    width: 28px;
    height: 28px;
  }

  .sns-box p {
    margin-right: 10px;
    font-weight: bold;

    margin-right: 8px;
  }
  .copy-box p.copy {
    /* margin-right: 0px; */
    font-size: 8px;
    /* width: 198px; */
    /* margin: 0 auto; */

    /* font-size: 9px; */
  }

  .con-bottom {
    /* position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%); */

    margin-top: 65px;
    /* margin-top: 75px; */
    padding-left: 50px;
  }


  /*==============================================================
    　　LINE
  ==============================================================*/
  .sec-line {
    background-image: url(../img/line-bg.png);
    margin: 0 27px;
    height: 172px;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
  }

  .sec-line p {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: #fff;
    text-shadow: #bebebe 0 0 2px;
  }

  .sec-line p span {
    margin-left: 18px;
  }

  .line-box {
    width: 257px;
    height: 42px;
    background-color: #06c755;
    margin: 18px auto;
    border-radius: 10px;
  }

  .sec-line .sec-bg {
    height: 100%;
    align-content: center;
  }


  /*==============================================================
    　　フッター
  ==============================================================*/
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 23px;
  }

  .copy {
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.08em;
  }

  .copy span {
    letter-spacing: 0.15em;
  }

  .to-top-box {
    /* border: solid 0.5px #000000;
    border-radius: 50%; */
    width: 25px;
    height: 25px;
  }

  .to-top-box a {
    width: 25px;
    height: 25px;
    margin: 0 auto;
  }

  .footer-copy {
    display: flex;
    justify-content: right;
    align-items: center;
  }

}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
   #top {
    scroll-margin-top: 180px;
  }
  /*==============================================================
    　　共通（タブレット）
  ==============================================================*/
  .sp_nav,
  .sp-br {
    display: none;
  }

  .tb-nav,
  .tb-br {
    display: block;
  }

  .list {
    display: inline;
    display: flex;
  }

  .tb-nav .nav-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    gap:28px;
    list-style: none;
  }

  .tb-nav .nav-list .nav_item {
    margin: 0;
  }

  .sp-none {
    display: block;
  }

  /*==============================================================
    　　TB_ヘッダー
  ==============================================================*/
  .header {
    height: 180px;
    padding: 0 60px 8px;
  }

  .header .nav_item {
    font-size: 14px;
    letter-spacing: 0.17em;
  }

  .logo-box img {
    height: 40px;
  }

  /*==============================================================
    　　PC_LINE
  ==============================================================*/
  .sec-line {
    margin: 0;
    height: 325px;
  }

  .sec-line .sec-bg {
    height: 100%;
    align-content: center;
    padding: 0 90px;
  }

  .sec-line p {
    font-size: 15px;
    letter-spacing: 0.07em;
  }

  .sec-line p span {
    margin-left: 30px;
  }

  .line-box {
    width: 100%;
    height: 79px;
    margin: 38px auto;
    border-radius: 16px;
  }

  /*==============================================================
    　　TB_フッター
  ==============================================================*/
  .footer {
    height: 180px;
    margin: 0 45px;
  }

  .footer-item {
    display: flex;
    align-items: center;
  }

  .footer .footer-img {
    width: 75px;
    margin-right: 90px;
  }

  .footer-text-box {
    justify-content: left;
  }

  .footer-text {
    font-size: 15px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.4;
    margin-bottom: 25px;
  }

  .to-top-box {
    width: 42px;
    height: 42px;
    margin-top: 65px;
  }

  .copy {
    font-size: 10px;
    letter-spacing: 0.15em;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
    　　共通（パソコン）
  ==============================================================*/

  /*==============================================================
    　　PC_ヘッダー
  ==============================================================*/
  .header .nav_item:hover {
    opacity: 0.6;
    transition: 0.3s;
  }

  .logo-box img {
    height: 48px;
  }

  /*==============================================================
    　　PC_LINE
  ==============================================================*/
  .sec-line .sec-bg {
    padding: 0 180px;
  }

  .line-box {
    margin: 43px auto;
    border-radius: 16px;
    max-width: 1142px;
  }

  /*==============================================================
    　　PC_フッター
  ==============================================================*/

  .footer {
    height: 230px;
    margin: 20px 96px;
  }

  .footer-item {
    display: flex;
    align-items: center;
  }

  .footer .footer-img {
    width: 100px;
    margin-right: 198px;
  }

  .footer-text-box {
    justify-content: left;
  }

  .footer-text {
    font-size: 15px;
    font-family: "Goudy Bookletter 1911", serif;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.4;
    margin-bottom: 48px;
  }

  .to-top-box {
    width: 42px;
    height: 42px;
    margin-top: 90px;
  }

  .copy {
    font-size: 10px;
    letter-spacing: 0.15em;
  }
}

